body, html {
	background-color: #5a61e6;
	height: 100%;
}

.input-container {
  	justify-content: center;
	border-radius: 10px;
	padding:10px;
}

#search {
	background: linear-gradient(to left, #B7B9E0, #c582f1);
	border-radius: 10px;
	padding: 5px;	
	box-shadow: 0 0 10px 0 rgba(195, 151, 90, 0.5);
}

h1 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 40px;
	color: black;
}

h3 {
	font-family: "Bebas Neue", sans-serif;
	color: rgb(52, 52, 52);
}

.header-container {
	background: linear-gradient(to right, #B7B9E0, #c582f1);
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(195, 151, 90, 0.5);
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 50px;
}

#search-input {
	border-radius: 2px;
	border: none;
}

#btn-submit, button{
	border-radius: 2px;
	border: none;
	background-color: white;
	cursor: pointer;
}

img.result {
	width: 200px;
	height: 200px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
	margin: 10px;
}

.login-page {
	background: linear-gradient(to left, #B7B9E0, #c582f1);
	border-radius: 10px;
	padding: 5px;	
	box-shadow: 0 0 10px 0 rgba(195, 151, 90, 0.5);
}
